html {                                    /*turning on the background behind everything*/
    Background-color: #777777;
}

body {
    background-image: url("./assets/images/headshot.png");
    background-repeat: repeat;
}

div.wrapper {                             /*wrapping everything and turning on flexbox*/
    display:flex;
    flex-wrap: wrap;
}

div.top {                                 /*defining the white box across the top*/
    background-color: #ffffff;
    height: 100px;
    flex: 1;
    flex-direction: row;    
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

div.header {                              /*making the box that holds the nameplat and top nav bar*/
    background-color: #ffffff;
    width: 960px;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#nameplate {                             /*designing the nameplate for the top*/
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 15px;
    margin: 5px;
}

nav {
    
}

a.navtags {                              /* designing the nav bar page anchors*/
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    border-left: 4px;
    margin-left: 4px;
    color: #777777;
    background-color: #ffffff;
    border-color: #777777;    
}

div.main {
    flex: 1;
    display: flex;
    justify-content: center;   
}

section {
    width: 960px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

p {
    font-family: Arial, Helvetica, 'Hevetica Neue' sans-serif;
    color: #777777;
    font-size: 20px;
    /*padding: 20px;*/

}

img.headshot {
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
}


hr {                                            /*making the horizontal rule the right collor and width*/
    color: #777777;
    background-color: #777777;
    height: 3px;
    margin: 0px 10px 0px 10px;
}

.break {                                        /*a trick to break the flexbox to go to the next line*/
    flex-basis: 100%;
    height: 0;
}

form {                                          /*formtting the form with flexbox*/
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
}

footer {                                        /*formatting the footer*/
    position: sticky;
    bottom: 0;
    flex-flow: column wrap;
    align-self: flex-end;
    flex: 1;
    height: 60px;
    margin: auto;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;  
    align-content: center;
    display: flex;
}

h6.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #666666;
    font-size: 10px;
}
